.footer {
  height: 15%;
  background: #333333;
  color: #CCCCCC;
  position: relative;
  text-decoration: none;
}

.icons {
  position: absolute;
  left: 5%;
  top: 45%;
}

.text {
  position: absolute;
  top: 45%;
  right: 5%;
}/* Footer design */

.icon {
  padding-right: 10px;
}
