    <div class="footer">
      <div class="icons">
        <ul class="list-inline">
          <li> <a href=>
            <i class="fa fa-youtube fa-2x icon"></i>
          </a>
          </li>
            <li> <a href=>
            <i class="fa fa-facebook logos fa-2x icon"></i>
          </a>
          </li>
            <li> <a href=>
            <i class="fa fa-instagram logos fa-2x icon"></i>
          </a>
          </li>
            <li> <a href=>
            <i class="fa fa-twitter logos fa-2x icon"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="text">
          This is a Airbnb Home challenge @ LeWagon
      </div>
    </div>
